[submodule "bootstrap-bp-hugo-startpage"]
	path = bootstrap-bp-hugo-startpage
	url = https://github.com/spech66/bootstrap-bp-hugo-startpage
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://github.com/ndsamuelson/colgyhugo.git
	branch = master
